<table class="table table-bordered">
  

  <tbody>
    <% @lists.each do |list| %>
    
    <% if list.completed %>
      <tr class="table-secondary">
        <td class="striker"><%= link_to list.description, edit_list_path(list) %><% list.description %></td>
        <td>
        
        <%= form_for(list) do |f| %>
        
          <%= f.text_field :description, type: 'hidden' %>
          <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden' %>
          <%= f.submit "Mark Incomplete", class: 'btn btn-outline-secondary btn-sm' %>
           
        <% end %>
        
        </td>
        
        <td>
          <% link_to 'Show', list %>
          
          <center><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></center>
        </td>
      </tr>
    <% else %>
      <tr>
        <td><%= link_to list.description, edit_list_path(list) %><% list.description %></td>
        <td>
        
        <%= form_for(list) do |f| %>
        
          <%= f.text_field :description, type: 'hidden' %>
          <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden' %>
          <%= f.submit "Mark Complete", class: 'btn btn-outline-secondary btn-sm' %>
           
        <% end %>
        
        </td>
        <td>
          <% link_to 'Show', list %>
         
          <center><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></center>
        </td>
      </tr>
    <% end %>
    
    <% end %>
  </tbody>
</table>

<br>

<% link_to 'Add Item', new_list_path, class: 'btn btn-primary' %>

<br/>

<%= link_to 'Delete Marked Items', home_trash_em_path, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Delete All Items', home_trash_em_all_path, data: { confirm: 'Are you sure?' } %>
